PaparazziOptimizationMachine.json
{
  "Comment": "An image optimizing workflow",
  "StartAt": "Registration",
  "States": {
    "Registration": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:188174211009:function:PaparazziImageRegistrar",
      "ResultPath": "$.PaparazziImageRegistrarOutput",
      "OutputPath": "$",
      "Next":"Optimization"
    },
    "Optimization": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:188174211009:function:PaparazziImageOptimizer",
      "InputPath": "$.PaparazziImageRegistrarOutput",
      "ResultPath": "$.PaparazziImageOptimizerOutput",
      "OutputPath": "$",
      "Next":"Association"
    },
    "Association": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:188174211009:function:PaparazziOptimizedImageAssociator",
      "InputPath": "$.PaparazziImageOptimizerOutput",
      "ResultPath": "$.PaparazziImageAssociatorOutput",
      "OutputPath": "$",
      "End": true
    }
  }
}